
<button style="position: relative;left: 740px;" (click)="onClose()" mat-icon-button class="close-button" [mat-dialog-close]="false"> <mat-icon class="close-icon" color="warn">close</mat-icon></button>

<div class="card">
    <div class="card-header" style="text-align: center;font-size: large" ><b>Envoyer documents</b></div>
    <ul
            class="list-group list-group-flush">
        <mat-form-field class="example-full-width">
            <mat-label>Matricule</mat-label>
            <mat-select matNativeControl required [(ngModel)]="filedb.user.matricule">
                <mat-option *ngFor="let u of users" value="{{u.matricule}}">{{u.matricule}}</mat-option>
            </mat-select>
        </mat-form-field>

    <div *ngIf="currentFile" class="progress">
        <div
                class="progress-bar progress-bar-info progress-bar-striped"
                role="progressbar"
                attr.aria-valuenow="{{ progress }}"
                aria-valuemin="0"
                aria-valuemax="100"
                [ngStyle]="{ width: progress + '%' }"
        >
            {{ progress }}%
        </div>
    </div>

    <label class="btn btn-default">
        <input type="file" (change)="selectFile($event)"/>
    </label>



    <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">
        Upload
    </button>

    <div class="alert alert-light" role="alert">{{ message }}</div>

    </ul>
</div>


